nav ul {
  list-style: none;
}

nav ul li {
  display:inline;
  border: 1px solid grey;
  padding: 20px 5px 0px 5px;
  margin:0 10px;
}

span {
  float: right;
}

.icon{
  width: 30px;
  height: 30px;
}

p{
  background-color: #bcf4f0;
  margin:30px;
  width: 65%;
}

.project-image {
  margin: 0 10px;
  width: 300px;
  height: 300px;
  opacity: 0.75;
  transition: box-shadow 0.5s, opacity 0.5s;
}

.project-image:hover {
  box-shadow: 0 0 5px 5px #555555;
  opacity: 1.0;
}

img {
  width:200;
  height:200;
}
