nav ul {
  list-style: none;
}

nav ul li {
  display:inline;
  border: 1px solid grey;
  padding: 20px 5px 0px 5px;
  margin:0 10px;
}

span {
  float: right;
}

.icon{
  width: 30px;
  height: 30px;
}

p{
  background-color: #bcf4f0;
  margin:30px;
  width: 55%;
}
